
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 92%;
    --foreground: 0 0% 2%;
    --card: 36 22% 84%;
    --card-foreground: 0 0% 2%;
    --popover: 36 33% 92%;
    --popover-foreground: 0 0% 2%;
    --primary: 338 81% 21%;
    --primary-foreground: 36 33% 92%;
    --secondary: 16 48% 80%;
    --secondary-foreground: 0 0% 2%;
    --muted: 31 13% 75%;
    --muted-foreground: 0 0% 25%;
    --accent: 31 13% 61%;
    --accent-foreground: 0 0% 2%;
    --destructive: 338 81% 21%;
    --destructive-foreground: 36 33% 92%;
    --border: 31 13% 70%;
    --input: 31 13% 70%;
    --ring: 338 81% 21%;
  }
  .dark {
    --background: 0 0% 2%;
    --foreground: 36 33% 92%;
    --card: 0 0% 8%;
    --card-foreground: 36 33% 92%;
    --popover: 0 0% 2%;
    --popover-foreground: 36 33% 92%;
    --primary: 16 48% 80%;
    --primary-foreground: 338 81% 21%;
    --secondary: 31 13% 20%;
    --secondary-foreground: 36 33% 92%;
    --muted: 31 13% 15%;
    --muted-foreground: 31 13% 61%;
    --accent: 338 81% 31%;
    --accent-foreground: 36 33% 92%;
    --destructive: 338 81% 40%;
    --destructive-foreground: 36 33% 92%;
    --border: 31 13% 20%;
    --input: 31 13% 20%;
    --ring: 16 48% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Custom prose styles */
  .prose {
    --tw-prose-body: hsl(var(--foreground));
    --tw-prose-headings: hsl(var(--primary));
    --tw-prose-lead: hsl(var(--foreground));
    --tw-prose-links: hsl(var(--primary));
    --tw-prose-bold: hsl(var(--foreground));
    --tw-prose-counters: hsl(var(--muted-foreground));
    --tw-prose-bullets: hsl(var(--border));
    --tw-prose-hr: hsl(var(--border));
    --tw-prose-quotes: hsl(var(--foreground));
    --tw-prose-quote-borders: hsl(var(--primary));
    --tw-prose-captions: hsl(var(--muted-foreground));
    --tw-prose-code: hsl(var(--accent-foreground));
    --tw-prose-pre-code: hsl(var(--accent-foreground));
    --tw-prose-pre-bg: hsl(var(--accent) / 0.15);
    --tw-prose-th-borders: hsl(var(--border));
    --tw-prose-td-borders: hsl(var(--border));
  }
}
